pickleshare==0.7.5
jupyter_client==8.6.3
joblib==1.4.2
networkx==3.2.1
pyzmq==26.2.0
urllib3==2.2.3
pydantic_core==2.27.2
seaborn==0.13.2
torchaudio==2.5.1
ptyprocess==0.7.0
decorator==5.1.1
jupyterlab_widgets==3.0.13
importlib_resources==6.4.5
numpy==2.0.1
idna==3.7
comm==0.2.2
wheel==0.44.0
docker-pycreds==0.4.0
pyparsing==3.2.1
packaging==24.2
scikit-learn==1.5.2
ipython==8.29.0
protobuf==5.29.3
tqdm==4.67.0
pillow==11.0.0
parso==0.8.4
nest_asyncio==1.6.0
click==8.1.8
traitlets==5.14.3
charset-normalizer==3.3.2
mkl_random==1.2.8
sentry-sdk==2.20.0
ipykernel==6.29.5
GitPython==3.1.44
sympy==1.13.2
MarkupSafe==2.1.3
cycler==0.12.1
debugpy==1.8.9
zipp==3.21.0
pexpect==4.9.0
pydantic==2.10.6
fonttools==4.55.6
setproctitle==1.3.4
ipywidgets==8.1.5
widgetsnbextension==4.0.13
stack-data==0.6.2
six==1.16.0
pip==24.2
jedi==0.19.2
exceptiongroup==1.2.2
PyYAML==6.0.2
asttokens==2.4.1
setuptools==75.1.0
psutil==6.1.0
nibabel==5.3.2
contourpy==1.3.1
kiwisolver==1.4.8
tornado==6.4.2
wandb==0.19.6
smmap==5.0.2
gitdb==4.0.12
executing==2.1.0
typing_extensions==4.12.2
platformdirs==4.3.6
triton==3.1.0
matplotlib==3.10.0
pytz==2024.2
certifi==2024.8.30
Brotli==1.0.9
pure_eval==0.2.3
matplotlib-inline==0.1.7
prompt_toolkit==3.0.48
pandas==2.2.3
gmpy2==2.1.2
Jinja2==3.1.4
importlib_metadata==8.5.0
torchvision==0.20.1
threadpoolctl==3.5.0
wcwidth==0.2.13
mkl-service==2.4.0
annotated-types==0.7.0
python-dateutil==2.9.0.post0
requests==2.32.3
jupyter_core==5.7.2
mpmath==1.3.0
torch==2.5.1
Pygments==2.18.0
mkl_fft==1.3.11
tzdata==2024.2
filelock==3.13.1
PySocks==1.7.1
scipy==1.14.1
